<div class="m-1">
  <div class="text-center mb-3">
    <h1>Tareas</h1>
    <button
      (click)="addTodo()" type="button"
      class="btn btn-lg btn-outline-success"
    >Agregar tarea</button>
  </div>
  <div id="todo-container" class="row">
    <div *ngFor="let todo of todos" class="border rounded col mx-1 px-2 pt-1 pb-2 mb-3">
      <app-todo
        [description]="todo.description"
        [completed]="todo.completed"
        [date]="todo.date"
        [remove]="todo.remove"></app-todo>
    </div>
  </div>
</div>
